.form-evento {
  padding: 32px 28px;
  color: #FFFFFF;
  width: 384px;
  max-width: 90%;
  border-radius: 16px;
  background-color: #212121;
  margin: 64px auto;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.acoes{
  margin-top: 32px;
  text-align: center;
}